<?php
	/*
	Database name
	*/
	$dbase = "";

	/*
	Database username
	*/
	$user = "";

	/*
	Database password
	*/
	$pass = "";

	/*
	Database server (usually localhost)
	*/
	$server = "";

	/*
	Database port. Only uncomment if your server isn't listening on the default 3306.
	*/
	// $port = 3306;

	/*
	Set to true to connect over SSL/TLS - required by most managed database providers.
	*/
	// $ssl = false;

	/*
	Optional path to a CA certificate bundle to verify the server's certificate against when
	$ssl is true. Left empty, the connection is still encrypted but the server certificate is
	not verified - fine when connecting to a fixed, already-trusted hostname/IP, but set this
	for full verification where possible.
	*/
	// $ssl_ca = "";

	/*
	Database table prefix
	The bot will use <botname> as prefix on default, you only need to change this entry if you
	want a different prefix or none at all, in which case you have to set it to an empty
	string ("").
	If you want a different or no prefix you will have to uncomment the line below by removing
	the // in front of it and set it to the wished value.
	you may also use <botname> as part of the string and it will be replaces with the botname in lowercase
	*/
	// $table_prefix = "";

	/*
	If you have $table_prefix Defined your tables will be prefixed as above with a _ added on
	if you dont want the _ added uncomment below
	*/
	//$nounderscore = TRUE;

	/*
	Master prefix table.
	This is the mastertable containing information about all tablenames and whether those use
	or don't use a prefix. Only uncomment the line below by removing the // in front of it if
	you want to use a different mastertable then botname_tablenames, which is used on default.
	you may also use <botname> as part of the string and it will be replaces with the botname in lowercase
	*/
	// $master_tablename = "botname_tablenames";
?>